VLA_MODE={{ vla_mode_value }}
OPENVLA_WEIGHTS={{ model_weights_value }}
GROOT_MODEL_PATH={{ groot_model_path_value }}
GROOT_EMBODIMENT_TAG={{ groot_embodiment_tag_value }}
GROOT_VIDEO_KEY={{ groot_video_key_value }}
PORT={{ listen_port }}
SERVICE_NAME=openvla-server
LOG_LEVEL=INFO
HF_HOME={{ model_cache_value }}/huggingface
MODEL_CACHE_DIR={{ model_cache_value }}
HF_TOKEN={{ hf_token_value }}
